.navBar {
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:40% 60%;
    box-shadow: -5px 0.5px 10px black;
    height:130px;
    z-index: 1;
    position: fixed;
    ul {
        margin:auto;
        width: 90%;
        display:grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        align-items: center;
        height: 70px;
        padding-top: 5%;
        .login {
            list-style-type: none;
            a {
                color: #fff;
                text-decoration: none;
                padding-left: 10px;
                text-transform: uppercase;
                font-weight:bold;
                font-size: 1.1rem;
            }
            a:hover {
                color: #FF0000;
            }
        }
        
        .link {
            list-style-type: none;   
            a {
                color: #fff;
                text-decoration: none;
                padding-right: 10px;
                padding-left: 10px;
                text-transform: uppercase;
                font-weight:bold;
                font-size: 1.1rem;
                border-right: 1px solid #fff;
            }
            a:hover {
                color: #FF0000;
            }  
        }
    } 

    .Logo {
        margin: auto;
        margin-left: 15%;
    }
}

